* {
  font-family: "Trebuchet MS", Helvetica, sans-serif;
}

#bookList {
	width: 100%;
	height: 100%;
	background: white;
	
}

#bookList td {
	padding: 20px;
}

h1 {
  color: #3D405B;
  text-align: center;
  padding-top: 20px;
}

.gridlayout {
  text-align: center;
}

ul {
  list-style: none;
  text-align: center;
  padding-bottom: 10px;
}

.bar {
  display: inline-block;
}

p {
  color: #81B29A;
}

h3 {
  font-size: 40px;
}

body {
  background-color: #F4F1DE;
}
a {
  color: #E07A5F;
  font-size: 20px;
  display: block;
  width: 250px;
  text-align: center;
  text-decoration: none;
}

a:hover {
  color: #F2CC8F;
}

h4 {
  font-size: 30px;
}

button, input[type=button] {
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  background-color: #81B29A;
  border-radius: 8px;
  font-size: 20px;
  padding: 15px 28px;
}

button:hover {
  background-color: #F2CC8F;
  color: white;
}

#form {
	padding-left: 20px;
}

#newentry {
	font-size: 15px;
	padding-left: 20px;
}

#firstrow {
	border-bottom: 1pt #3D405B;
}